.one {
    padding-top: 23vh;
    background-color: aqua;
}

.two {
    background-color: green;
}

.three {
    background-color: red;
}

.four {
    background-color: hotpink;
}

.header {
    font-size: 4vw;
    font-weight: bold;
}

.flex {
    vertical-align: middle;
    text-align: center;
    left: "50%";
    top: "50%"; 
    transform: "translate(-50%, -50%)" 
}

.randomGame {
    padding-top: 15px;
}

.randomGame:hover {
    cursor: pointer;
    color: blueviolet;
}