.one {
    padding-top: 10vh;
}

.two {
    padding-top: 8vh;
}

.three {
    padding-top: 8vh;
}

.four {
    padding-top: 8vh;
}

.header {
    font-size: 4vw;
    font-weight: bold;
}

.flex {
    vertical-align: middle;
    text-align: center;
    left: "50%";
    top: "50%"; 
    transform: "translate(-50%, -50%)" 
}

.randomGame {
    padding-top: 15px;
}

.randomGame:hover {
    cursor: pointer;
    color: #b2d4c9;
}

.title {
    margin-top: 10px;
}

img:hover {
    cursor: pointer;
}